/* BOOT CONFIG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-league-spartan;

    h1, h2 {
        font-weight: $font-weight-bold;
    }

    a {
        text-decoration: none;
        color: $color-black;

        @include transition;

        &:hover {
            color: $color-dark-gray;
        }
    }

    p {
        font-size: $font-size-default;
        color: $color-dark-gray;
        line-height: 1.6em;
    }

    img {
        display: block;
        width: 100%;
    }

    ul {
        li {
            list-style: none;
        }
    }
}