/* HEADER STYLE */
@include theme() {
    &_header {
        @include fixed;
        padding-top: 50px;
        width: 100%;
        z-index: 10;
        @include transition;

        &.scrolling {
            padding: 20px 0;
            background-color: $color-black;

            .room_header_content_menuicon {
                top: 20px;
            }

            .room_header_content_lightbox_nav {
                padding: 20px 30px;
            }
        }

        &_content {
            padding: 0 30px;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include flex(flex-start);
                column-gap: 60px;
            }
            
            &_logo {
                @include flex;

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    justify-content: flex-start;
                    padding: {
                        top: 3px;
                        right: 0;
                        bottom: 0;
                        left: 60px;
                    }
                }

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    padding: 0;
                }

                h1 {
                    display: none;
                }

                img {
                    width: auto;
                }
            }

            &_menuicon {
                @include absolute(50px, 30px);
                color: $color-white;
                font-size: 1.2em;
                cursor: pointer;
                z-index: 20;

                @include transition;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    display: none;
                }

                &.active {
                    color: $color-dark-gray;
                }
            }

            &_lightbox {
                @include fixed;
                background-color: $color-black-lighbox;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: none;

                @include transition;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    position: static;
                    background: none;
                    display: block;
                    width: auto;
                    height: auto;
                }

                &_nav {
                    padding: 50px 30px;
                    background-color: $color-white;
                    @include flex(flex-end);
                    @include transition;

                    transform: translateY(calc(-50% - 100px));

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        transform: none;
                        background: none;
                        padding: 0;
                    }

                    &.active {
                        transform: translateY(0);
                    }

                    &_menu {
                        @include flex;
                        gap: 25px;
                        text-transform: lowercase;

                        li {
                            a {                                
                                @include relative;

                                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                    color: $color-white;
                                }

                                &:hover {
                                    color: $color-black;

                                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                        color: $color-white;
                                    }

                                    &::before {
                                        transform: translateX(-50%) scaleX(1);
                                    }
                                }

                                &::before {
                                    content: "";
                                    @include absolute(unset, 50%);
                                    bottom: -8px;
                                    transform: translateX(-50%) scaleX(0);

                                    width: 50%;
                                    height: 3px;
                                    background-color: $color-black;

                                    @include transition;

                                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                        background-color: $color-white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}