@include theme() {
    &_slider {
        width: 100%;
        @include relative;

        &_slide {
            display: none;
            @include transition(all, linear);

            &.active {
                @include flex;
            }

            &_image {
                @include flex1;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flexBasis(60%);
                }
            }

            &_info {
                @include flex1;
                padding: 50px 30px;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flexBasis(40%);
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    padding: 80px;
                }

                &_title {
                    h1 {
                        font-size: 2.2em;
                        margin-bottom: 20px;
                    }
                }

                &_text {
                    margin-bottom: 20px;
                }

                &_action {
                    a {
                        font-size: 1.2em;
                        text-transform: uppercase;
                        letter-spacing: 0.6em;

                        &:hover {
                            svg {
                                fill: $color-dark-gray;
                            }
                        }

                        svg {
                            @include transition;
                        }
                    }
                }
            }
        }

        &_nav {
            @include absolute(0, unset);
            right: 0;
            @include flex(center, center, nowrap);

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                justify-content: flex-start;
            }

            .prev, .next {
                width: 60px;
                height: 60px;
                background-color: $color-black;
                color: $color-white;
                cursor: pointer;

                @include flex;
                @include transition;

                &:hover {
                    background-color: $color-very-dark-gray;
                }

                img {
                    width: auto;
                    pointer-events: none;
                }
            }
        }
    }
}